##########################
# What git should ignore #
##########################

# Compiled files #
##################
dependency-reduced-pom.xml
target

# Tests/Javadocs (for now) #
############################
src/test
src/main/javadoc

# Maven pom (for now) #
#######################
pom.xml

# Sublime files #
#################
*.sublime-project
*.sublime-workspace

# Intellij files #
##################
.idea
*.iml

# Misc #
########
.DS_Store
docs
todo.TODO