##########################
# What git should ignore #
##########################

# Compiled files #
##################
dependency-reduced-pom.xml
target
site

# Tests/Javadocs (for now) #
############################
src/test

# Sublime files #
#################
*.sublime-project
*.sublime-workspace

# Intellij files #
##################
.idea
*.iml

# Misc #
########
.DS_Store
*.TODO
parser
backup